.footer{
  width: calc(100% - 2*19px);
  padding: 0 19px 0;
  margin-bottom: 36px;
}
@media screen and (min-width: 619px) {
  .footer { 
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 918px) {
  .footer {
    max-width: 880px;
    margin-bottom: 60px;
  }
}