.button_action_save{
  width: 238px;
  height: 46px;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
   @media screen and (min-width: 619px) {
    .button_action_save { 
        width: 358px;
        height: 50px;
        font-size: 18px;
        line-height: 22px;
    }
}

.button_action_save:hover{
  opacity: 0.8;
}